
body{
	margin: 0;
	text-align: left;
	font-family: "Space Grotesk", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
	font-size: 17px;
	line-height: 25px;
	animation:change-color 15s infinite alternate;
}


@keyframes change-color {
    0% {background-color: #231849;}
    50% {background-color: #1b0c21;}
    100% {background-color: rgb(6, 3, 14);}
}


header{
	background-color: #35246f;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1{
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(112, 234, 82);
  font-size: 50px;
}

main{
		max-width: 800px;
		margin: 0 auto;
		padding: 10px 20px;
		color:rgb(210, 185, 230);

}

p.caption{
	font-family: "Zen Dots", sans-serif;
  	font-weight: 400;
	color: #71bf5b;
	font-style: italic;
	margin-top: 0;
	text-align: center;
}
