/* DEFAULT TEXT STYLES */

h1,
h2,
h3 {
    text-align: center;
    font-style: normal;
}

h1 {
    font-size: 5rem;
    font-family: "BBH Hegarty", sans-serif;
}

h2 {
    font-size: 3.5rem;
    font-family: "BBH Hegarty", sans-serif;
}

h3 {
    font-size: 2rem;
    font-family: "Lilex", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
    font-family: "Lilex", monospace;
    font-optical-sizing: auto;
    font-weight: 1rem;
    font-style: normal;
    margin:0 auto;
}

a {
    font-family: "Lilex", monospace;
    font-optical-sizing: auto;
    font-weight: 1rem;
    font-style: normal;
}
a:hover {
    background: #97a1e8;
}


.btn {
    background: #c4c9eb;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin:30px;
    padding: 10px 20px;
    letter-spacing: .1em;
    text-decoration: none;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

