/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
   box-sizing: border-box;
   font-size: 62.5%;
}


*,
*:before,
*:after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}


html,
body {
   height: 100%;
}

body {
    font-size: 1.6rem;
   /* font-size 1.6rem is now the same as 16px */
   line-height: 1.6;
}

header {
    padding: 50px;
    background-color: cadetblue;
    text-align: center;
}

main {

}

.image-div {
   display:inline-block;
}



#image-0 {
   position:absolute;
   top: 50px;
   right: 20px;
}
#image-1 {
   position:absolute;
   top: 100px;
   right: 20px;
}
#image-2 {
   position:absolute;
   top: 200px;
   right: 20px;
}
#image-3 {
   position:absolute;
   top: 300px;
   right: 20px;
}
#image-4 {
   position:absolute;
   top: 400px;
   right: 20px;
}
#image-5 {
   position:absolute;
   top: 500px;
   right: 20px;
}

#image-6 {
   position:absolute;
   top: 600px;
   right: 20px;
}


p {
   margin-top: 20px; 
}